
<nav style="background-color: rgb(245, 118, 118);"  class="navbar navbar-expand-lg ">
    <div class="container-fluid">
      <a style=" color: rgb(255, 255, 255)"class="navbar-brand" href="http://localhost:64207/">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a style=" color: rgb(255, 255, 255)" class="nav-link active" aria-current="page" href="#">inicio</a>
          </li>
          <li class="nav-item">
            <a style=" color: rgb(255, 255, 255)" class="nav-link" href="#">arbolitos</a>
          </li>
          <li class="nav-item">
            <a style=" color: rgb(255, 255, 255)" class="nav-link" href="#">pan dulce</a>
          </li>
          <li class="nav-item">
            <a style=" color: rgb(255, 255, 255)" class="nav-link" href="#">disfraz</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>