
<div class="d-grid gap-2 mt-3  ">
    <a class="btn btn-success" type="button" href="https://www.elreydelanavidad.com/arboles/">arboles</a>
    <a class="btn btn-success" type="button" href="https://www.elreydelanavidad.com/productos/">juguetes</a>
    <a class="btn btn-success" type="button" href="https://www.elreydelanavidad.com/kit-arbol-adornos/">kit-arbol-adornos</a>
    <a class="btn btn-success" type="button" href="https://www.elreydelanavidad.com/productos/red-de-luces-led-multicolor-2-x-2mts/">red social</a>
  </div>